@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }

  .input-style {
    @apply block w-full rounded-md border border-gray-200 dark:bg-slate-800 placeholder:dark:text-gray-400 py-2 pl-10 text-sm outline-2 placeholder:text-gray-500;
  }

  .w-fill {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
  }
  .h-fill {
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-alegreya);
}
